@model ValueTuple<Udenad.Core.Card, Udenad.Core.Count>

@{
    ViewData["Title"] = "Hjem";
}

<div class="row justify-content-md-center">
    <div>
        <h1 id="word">@(Model.Item1.Word)</h1>

        @if(!string.IsNullOrEmpty(Model.Item1.Audio))
        {
            <audio src="@Model.Item1.Audio" autoplay="true" controls="true"></audio>
        }

        <div class="word-class">
            <i>@(Model.Item1.WordClass)</i>
        </div>
        <div class="inflection">
            <i>@(Model.Item1.Inflection)</i>
        </div>
        <div id="backside" hidden>
            <ul>
                @foreach (var definion in Model.Item1.Definitions ?? Enumerable.Empty<string>())
                {
                    <li>@(definion)</li>
                }
            </ul>
            <div id="notes" contenteditable>@(Model.Item1.Notes)</div>
            <hr>
            <div>Din score:</div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="score" id="score-correct" value="true" />
                    Rigtigt.
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="score" id="score-incorrect" value="false" checked />
                    Forkert.
                </label>
            </div>
        </div>
    </div>
</div>

<div id="status-stats">
    @(Model.Item2.All) ord i alt,
    @(Model.Item2.Learned) modne,
    @(Model.Item2.Seen) set,
    @(Model.Item2.Due) skal oves i dag.
</div>

<div id="status-front">
    Tryk på <kbd>enter</kbd> for at åbne detaljer.
</div>

<div id="status-back" hidden>
    Tryk på <kbd>enter</kbd> for at åbne det næste ord.
</div>

@section scripts {
    <script type="text/javascript" src="~/js/home-index.js"></script>
}
